.separation {
  width: 6px;
  min-height: 100vh;
  background-color: white;
}

.app_body{
  min-width: 100vw;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app {
  width: 100%;
}
