*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Spline Sans Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #040a25;
  color: #fff;
}

.terminal-container {
  display: inline-block;
  padding: 7px 12px;
  border-radius: 7px;
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 700;
  -webkit-box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
}

.terminal-container > span::before {
  content: '~$ ';
  font-weight: 400;
}

.tc-light {
  background-color: rgba(48, 178, 236, 0.33);
  color: #3a5bdc;
}

.tc-light > span::before {
  color: black;
}

.tc-light-button:hover {
  background-color: rgba(38, 213, 213, 0.26);
  color: #00b0ff;
}

.tc-dark {
  background-color: rgba(38, 213, 213, 0.26);
  color: #00b0ff;
}

.tc-dark > span::before {
  color: white;
}
