body {
  font-family: 'Spline Sans Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #040a25;
  color: #fff;
}

.terminal-container {
  display: inline-block;
  padding: 7px 12px;
  border-radius: 7px;
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 700;
}

.terminal-container > span::before {
  content: '~$ ';
  font-weight: 400;
}
