/*
Designs ranging from 1280×720 to 1920×1080 for desktop monitors
Mobile display design ranging from 360×640 to 414×896
Tablet display design ranging from 601×962 to 1280×800
*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spline Sans Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

#app {
  background-color: white;
  color: black;
}

.terminal-container {
  display: inline-block;
  padding: 7px 12px;
  border-radius: 7px;
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
}

.terminal-container > span::before {
  content: '~$ ';
  font-weight: 400;
}

.tc-light {
  background-color: rgba(48, 178, 236, 0.33);
  color: #3a5bdc;
}

.tc-light > span::before {
  color: black;
}

.tc-light-button:hover {
  background-color: rgba(38, 213, 213, 0.26);
  color: #00b0ff;
}

.tc-dark {
  background-color: rgba(38, 213, 213, 0.26);
  color: #00b0ff;
}

.tc-dark > span::before {
  color: white;
}

.tc-orange {
  background-color: #ffdf8d57;
  color: #ffb800;
}

.tc-orange > span::before {
  color: black;
}

@media (min-width: 850px) {
  .title-content {
    padding-bottom: 30px;
  }

  .title-content-en {
    font-size: 40px;
  }

  .title-content-fr {
    top: 20px;
    left: 20px;
    font-size: 40px;
  }
}

@media (max-width: 849px) {
  .title-content {
    padding-bottom: 30px;
  }

  .title-content-en {
    font-size: 30px;
  }

  .title-content-fr {
    top: 15px;
    left: 15px;
    font-size: 30px;
  }
}

.title-content {
  position: relative;
  overflow: visible;
}

.title-content-en {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  color: #040a25;
}

.title-content-fr {
  position: absolute;
  font-family: 'Birthstone', cursive;
  background: linear-gradient(to right, #40dbef, #30b2ec 27%, #2f51d5 61%);
  background-clip: text;
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
